<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>基于JSP的ThreadLocal分页</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- 分页过滤器 -->
  <filter>
  	<filter-name>SystemContextFilter</filter-name>
  	<filter-class>基于JSP的ThreadLocal分页.SystemContextFilter</filter-class>
 	<init-param>
 		<param-name>pageSize</param-name>
 		<param-value>15</param-value>
 	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>SystemContextFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
</web-app>